.ellipsis{
  overflow: hidden;
}

/* .playlistA-descripcion {
  overflow: hidden;
}

.playlistA-descripcion > *{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.ellipsis > *{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}